<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Challenge</title>
</head>
<body>
    <th:block th:insert="~{common/navbar.html}">
    </th:block>
    <div>
        <label>
            <!--            mocked-->
            Wyszukaj
        </label>
        <input
            id="search-tournament"
        />
        <button
            th:text="#{ctfcreator.tournament-list.create-new}"
            th:hx-get="@{/ctf-creator/tournaments/new-tournament}"
        >
        </button>
    </div>
    <div>
        <table id="tournament-list" class="table">
            <thead>
            <tr>
                <th th:value="#{ctfcreator.tournament-list.id}"></th>
                <th th:value="#{ctfcreator.tournament-list.tournament-name}"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="tournament, iteration: ${tournamentList}">
                <tr>
                    <td th:text="${iteration.index}"></td>
                    <td th:text="${tournament.name}"></td>
                    <td>
                        <button th:text="#{common.edit}"></button>
                    </td>
                    <!--                    do translacji + zielon/czerwony kolorek-->
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</body>