<div class="form-group">
    <label
            th:text="#{ctfcreator.tournament.max-teams-size}"
            for="tournament-max-teams-size"
            class="form-label"
    ></label>
    <input
            th:value="${tournamentDTO?.teamsSize}"
            id="tournament-max-teams-size"
            name="teamsSize"
            class="tournament form-control"
            required
    >
</div>
<div class="form-check">
    <label
            th:text="#{ctfcreator.tournament.teams-creation-post-launch}"
            for="tournament-teams-creation-post-launch"
            class="form-check-label"
    ></label>
    <input
            th:value="${tournamentDTO?.teamsCreationEnabledAfterLaunch}"
            id="tournament-teams-creation-post-launch"
            name="teamsCreationEnabledAfterLaunch"
            type="checkbox"
            class="tournament form-check-input"
    >
</div>
<div class="form-group">
    <label
            th:text="#{ctfcreator.tournament.teams-edition}"
            for="tournament-teams-edition"
            class="form-label"
    ></label>
    <input
            th:value="${tournamentDTO?.teamsEditionTo}"
            id="tournament-teams-edition"
            name="teamsEditionTo"
            type="datetime-local"
            class="tournament tournament-date form-control"
    >
</div>