<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Challenge</title>
</head>
<body>
    <th:block th:insert="~{common/navbar.html}">
    </th:block>
    <div class="m-4">
        <table id="challenge-list" class="table table-bordered">
            <thead>
                <tr>
                    <th th:text="#{ctfcreator.challenge-list.id}"></th>
                    <th th:text="#{ctfcreator.challenge-list.challenge-name}"></th>
                    <th th:text="#{ctfcreator.challenge-list.repo-name}"></th>
                    <th th:text="#{ctfcreator.challenge-list.challenge-status}"></th>
                    <th th:text="#{ctfcreator.challenge-list.challenge-details}"></th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="challenge, iteration: ${challengeList}">
                    <tr>
                        <td th:text="${iteration.index}"></td>
                        <td th:text="${challenge.name}"></td>
                        <td th:text="${challenge.repoName}"></td>
                        <td th:switch="${challenge.status.name()}">
                            <th:block th:insert="~{challenge/challenge-status.html}">
                            </th:block>
                        </td>
                        <td>
                            <input
                                    th:id="|challenge-id-${challenge.challengeId}|"
                                    type="hidden"
                                    th:name="challengeId"
                                    th:class="|${challenge.name}-${challenge.challengeId}|"
                                    th:value="${challenge.challengeId}"
                            />
                            <button
                                    th:hx-post="@{/challenge-list/redirect}"
                                    th:hx-include="|.${challenge.name}-${challenge.challengeId}|"
                                    th:hx-trigger="click"
                                    th:hx-target="body"
                                    th:hx-swap="outerHTML"
                                    th:hx-push-url="true"
                                    class="btn btn-outline-primary"
                            >
                                <img src="/img/arrow.svg" alt="Szczegóły" style="width: 20px; height: 20px;"/>
                            </button>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>