<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}">
    <title>Challenge</title>
</head>
<script type="text/javascript" src="/js/challenge/challenge.js" defer></script>
<body>
    <th:block th:insert="~{common/navbar.html}">
    </th:block>
    <form
        th:hx-post="@{/challenge}"
        th:hx-trigger="submit"
        th:hx-include=".challenge"
        hx-target="body"
        hx-swap="outerHTML"
        hx-push-url="true"
        id="challenge-form"
        class="container-fluid ps-5 pe-5 w-100 h-100"
        th:object="${challengeInputDTO}"
    >
        <div class="row g-3 pt-3">
            <div class="form-group">
                <label
                        th:text="#{ctfcreator.challenge.name}"
                        for="challenge-name"
                        class="form-label"
                ></label>
                <input
                        id="challenge-name"
                        th:field="*{name}"
                        type="text"
                        class="challenge form-control"
                        th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                        required
                />
                <p
                        th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}"
                        class="invalid-feedback"
                ></p>
            </div>
            <div class="form-group">
                <label
                        th:text="#{ctfcreator.challenge.number-of-app}"
                        for="number-of-app"
                        class="form-label"
                ></label>
                <input
                        id="number-of-app"
                        th:field="*{numberOfApp}"
                        th:classappend="${#fields.hasErrors('numberOfApp') ? 'is-invalid' : ''}"
                        type="number"
                        class="challenge numberOfApp form-control"
                        required
                >
                <p
                        th:if="${#fields.hasErrors('numberOfApp')}"
                        th:errors="*{numberOfApp}"
                        class="invalid-feedback"
                ></p>
            </div>
            <div class="form-group">
                <label
                        th:text="#{ctfcreator.challenge.start-exposed-port}"
                        for="start-exposed-port"
                        class="form-label"
                ></label>
                <input
                        id="start-exposed-port"
                        th:field="*{startExposedPort}"
                        th:classappend="${#fields.hasErrors('startExposedPort') ? 'is-invalid' : ''}"
                        type="number"
                        class="challenge startExposedPort form-control"
                        required
                >
                <p
                        th:if="${#fields.hasErrors('startExposedPort')}"
                        th:errors="*{startExposedPort}"
                        class="invalid-feedback"
                ></p>
            </div>
        </div>
        <button
                th:text="#{common.create}"
                type="submit"
                class="btn btn-primary border float-end mt-3"
        >
        </button>
    </form>
</body>
</html>