<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="shortcut icon" type="image/png" th:href="@{/img/flag.png}">
    <link rel="stylesheet" th:href="@{/css/default-style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}" defer></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
