<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Register</title>
</head>
<script>

</script>
<body>
    <div class="container" th:style="'height: 100vh;'">
        <div class="row h-80 pt-5">
            <div class="col-md-6 mx-auto border p-5 rounded">
                <form
                        th:hx-post="@{/register}"
                        th:hx-trigger="submit"
                        th:hx-boost="true"
                        th:hx-target="body"
                        th:hx-swap="outerHTML"
                        th:hx-push-url="false"
                        th:object="${registerDTO}"
                >
                    <div>
                        <h1
                                th:text="#{ctfcore.register.title}"
                                class="mb-2"
                        >
                        </h1>
                        <p th:text="#{ctfcore.login-register.sub-title}"></p>
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <label
                                th:text="#{ctfcore.login-register.login}"
                                for="login"
                                class="form-label"
                        >
                        </label>
                        <input
                                th:field="*{login}"
                                th:classappend="${#fields.hasErrors('login') ? 'is-invalid' : ''}"
                                th:title="#{ctfcore.register.login-regex-message}"
                                id="login"
                                name="login"
                                type="text"
                                class="form-control"
                                required
                        />
                        <p
                                th:if="${#fields.hasErrors('login')}"
                                th:errors="*{login}"
                                class="invalid-feedback"
                        ></p>
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <label
                                th:text="#{ctfcore.login-register.password}"
                                for="password"
                                class="form-label"
                        >
                        </label>
                        <input
                                th:field="*{password}"
                                th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                th:title="#{ctfcore.register.password-regex-message}"
                                id="password"
                                name="password"
                                type="password"
                                class="form-control"
                                required
                        />
                        <p
                                th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}"
                                class="invalid-feedback"
                        ></p>
                    </div>
                    <div
                            th:if="${registerExceptionMessage != null && !registerExceptionMessage.isEmpty()}"
                            class="text-danger fw-bold mt-2 mb-2"
                    >
                        <span th:text="${registerExceptionMessage}"></span>
                    </div>
                    <button
                            th:text="#{common.register}"
                            class="btn btn-primary w-100 mt-2 mb-2 border"
                            type="submit"
                    >
                    </button>
                </form>
                <hr>
                <a
                        th:href="@{/register/redirect-to-login}"
                        th:text="#{common.login}"
                        th:hx-boost="true"
                        th:hx-push-url="true"
                        class="btn btn-outline w-100 mt-2 border"
                >
                </a>
            </div>
        </div>
    </div>
</body>
</html>