<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Login</title>
</head>
<body>
    <div class="container h-100">
        <div class="row h-80 pt-5">
            <div class="col-md-6 mx-auto border p-5 rounded">
                <form
                    th:hx-post="@{/ctf-core/login}"
                    th:hx-trigger="submit"
                    th:hx-boost="true"
                    th:hx-target="body"
                    th:hx-swap="outerHTML"
                    th:hx-push-url="true"
                >
                    <div>
                        <h1
                                th:text="#{ctfcore.login.title}"
                                class="mb-2"
                        >
                        </h1>
                        <p th:text="#{ctfcore.login-register.sub-title}"></p>
                    </div>
                    <div
                            th:if="${loginDTO?.isCtfCreator == null || !loginDTO.isCtfCreator}"
                            class="form-group mt-2 mb-2 tournament-code"
                    >
                        <label
                                th:text="#{ctfcore.login.tournament-code}"
                                for="tournament-code"
                                class="form-label"
                        >
                        </label>
                        <input
                                th:value="${loginDTO?.tournamentCode}"
                                id="tournament-code"
                                name="tournamentCode"
                                type="text"
                                class="form-control"
                                required
                                autocomplete="off"
                        />
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <label
                                th:text="#{ctfcore.login-register.login}"
                                for="login"
                                class="form-label"
                        >
                        </label>
                        <input
                                th:value="${loginDTO?.login}"
                                id="login"
                                name="login"
                                type="text"
                                class="form-control"
                                required
                                autocomplete="off"
                        />
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <label
                                th:text="#{ctfcore.login-register.password}"
                                for="password"
                                class="form-label"
                        >
                        </label>
                        <input
                                th:value="${loginDTO?.password}"
                                id="password"
                                name="password"
                                type="text"
                                class="form-control"
                                required
                                autocomplete="off"
                        />
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <label
                                th:text="#{ctfcore.login-register.ctf-creator}"
                                for="is-ctf-creator"
                                class="form-check-label"
                        >
                        </label>
                        <input
                                th:checked="${loginDTO?.isCtfCreator}"
                                th:hx-post="@{/ctf-core/login/tournament-code}"
                                th:hx-trigger="change"
                                th:hx-target=".tournament-code"
                                th:hx-swap="innerHTML"
                                th:hx-push-url="false"
                                id="is-ctf-creator"
                                name="ctfCreator"
                                type="checkbox"
                                class="form-check-input"
                                autocomplete="off"
                        />
                    </div>
                    <div
                            th:if="${loginExceptionMessage != null && !loginExceptionMessage.isEmpty()}"
                            class="text-danger fw-bold mt-2 mb-2"
                    >
                        <span th:text="${loginExceptionMessage}"></span>
                    </div>
                    <button
                        th:text="#{common.login}"
                        class="btn btn-primary w-100 mt-2 mb-2 border"
                        type="submit"
                    >
                    </button>
                </form>
                <hr>
                <a
                        th:href="@{/ctf-core/login/redirect-to-register}"
                        th:text="#{common.register}"
                        th:hx-boost="true"
                        th:hx-push-url="true"
                        class="btn btn-outline w-100 mt-2 border"
                >
                </a>
            </div>
        </div>
    </div>
</body>
</html>